name: Test/Fmt
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests_and_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: make check_fmt
      - run: make test
      - run: make SANITIZER_FLAGS= valgrind
