name: Test/Fmt
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests_and_format:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@1.70.0
      - uses: actions/checkout@v3
      - run: make check_fmt
      - run: make compile-rust
      - run: LD_LIBRARY_PATH=${PWD}/lambdaworks/lib/lambdaworks/target/release make test
      - run: sudo apt install valgrind -y
      - run: LD_LIBRARY_PATH=${PWD}/lambdaworks/lib/lambdaworks/target/release make SANITIZER_FLAGS= valgrind
