name: Test/Fmt
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests_and_format:
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust
      - uses: dtolnay/rust-toolchain@1.70.0
      - uses: actions/checkout@v3
      - run: make check_fmt
      - run: make compile-rust
      - run: make test
      - run: sudo apt install valgrind -y
      - run: make SANITIZER_FLAGS= valgrind
